API_PORT=4000

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE="app-db"

REPLICA_DB_HOST=postgres-replica
REPLICA_DB_PORT=5433

ADMINER_PORT=8080
ADMINER_FORWARD_PORT=8080

NGINX_PORT=80
NGINX_FORWARD_PORT=80